{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Welcome {{ user.first_name }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'css5/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'css5/icomoon.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'css5/bootstrap.css' %}">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="{% static 'css5/flexslider.css' %}">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="{% static 'fonts5/flaticon/font/flaticon.css' %}">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="{% static 'css5/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'css5/owl.theme.default.min.css' %}">
	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static 'css5/style.css' %}">

	<!-- Modernizr JS -->
	<script src="{% static 'js5/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
	<div id="colorlib-page">
		<div class="container-wrap">
		<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
		<aside id="colorlib-aside" role="complementary" class="border js-fullheight">
			<div class="text-center">{% for p in pro %}
                {% if user.id == p.user.id %}
				<div class="author-img" style="background-image: url({{ p.img.url }});"></div>
				<h1 id="colorlib-logo"><a href="index.html">{{user.first_name}} {{ user.last_name }}</a></h1>
				<span class="position"><a href="#">{{p.bio}}</a> </span>
                    <span class="position"><a href="#">{{p.exp}}</a> </span>


                    <li><a href="{% url 'admindata' %}">profile</a></li>
                    <li><a href="{% url 'adminedit' %}">Edit</a></li>
                    <li><a href="{% url 'create' %}">Create New Task</a></li>
                    <li><a href="{% url 'complete' %}">View Completed Tasks</a></li>
                    <li><a href="{% url 'AddID' %}">Add Office Worker id</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
{#                    <li><a href="{% url 'chat' %}">Chat</a></li>#}
			</div>
			<nav id="colorlib-main-menu" role="navigation" class="navbar">
				<div id="navbar" class="collapse">
					<ul>
						<li class="active"><a href="#" data-nav-section="home">Home</a></li>

						<li><a href="#" data-nav-section="services">View My-TEAM</a></li>
						<li><a href="#" data-nav-section="skills">Skills</a></li>

						<li><a href="#" data-nav-section="work">Running Tasks</a></li>

					</ul>
				</div>
			</nav>



		</aside>

		<div id="colorlib-main">
			<section id="colorlib-hero" class="js-fullheight" data-section="home">
				<div class="flexslider js-fullheight">
					<ul class="slides">
				   	<li style="background-image: url({{ p.img.url }});">
				   		<div class="overlay"></div>
				   		<div class="container-fluid">
				   			<div class="row">
					   			<div class="col-md-6 col-md-offset-3 col-md-pull-3 col-sm-12 col-xs-12 js-fullheight slider-text">
					   				<div class="slider-text-inner js-fullheight">
					   					<div class="desc">
						   					<h1>Hello <br> {{ user.first_name }}</h1>
						   					<h2>Manager of Company<a href="" target="_blank"></a></h2>

											</div>

					   				</div>
					   			</div>
					   		</div>
				   		</div>
				   	</li>
			<li style="background-image: url({% static 'images5/img_bg_2.jpg' %});">
				   		<div class="overlay"></div>
				   		<div class="container-fluid">
				   			<div class="row">
					   			<div class="col-md-6 col-md-offset-3 col-md-pull-3 col-sm-12 col-xs-12 js-fullheight slider-text">
					   				<div class="slider-text-inner">
					   					<div class="desc">
						   					<h1>This is your Team <br></h1>
                                            <h1> <br></h1>
												<h2>Individual commitment to a group effort--that is what makes a team work, a company work, a society work, a civilization work. <a href="" target="_blank"></h2>

											</div>
					   				</div>
					   			</div>
					   		</div>
                            {% endif %}
                           {% endfor %}
				   		</div>
				   	</li>
				  	</ul>
			  	</div>
			</section>




			<section class="colorlib-services" data-section="services">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<span class="heading-meta"></span>
							<h2 class="colorlib-heading">Your Team</h2>
						</div>



                            {% for p in pro %}
                        {% if p.user.is_staff == False %}
						<div class="col-md-4 text-center animate-box">

							<div class="services color-6">

								<span class="icon">

									<i class="icon-phone3"></i>
								</span>

								<div class="desc">



									 <h3>{{p.user}}</h3>
                                    <li><a href="{% url 'userprofile' p.user.id %}">Open Profile</a></li>
									<p>{{p.bio}}</p>

								</div>

							</div>
						</div>
                                {% endif %}
                                            {% endfor %}
					</div>
				</div>

			</section>
			
			<div id="colorlib-counter" class="colorlib-counters" style="background-image: url({% static 'images5/cover_bg_1.jpg' %});" data-stellar-background-ratio="0.5">
				<div class="overlay"></div>
				<div class="colorlib-narrow-content">
					<div class="row">
					</div>
					<div class="row">
						<div class="col-md-3 text-center animate-box">
							<span class="colorlib-counter js-counter" data-from="0" data-to="{{coun}}" data-speed="5000" data-refresh-interval="50"></span>
							<span class="colorlib-counter-label">Total ongoing tasks</span>
						</div>
						<div class="col-md-3 text-center animate-box">
							<span class="colorlib-counter js-counter" data-from="0" data-to="{{total}}" data-speed="5000" data-refresh-interval="50"></span>
							<span class="colorlib-counter-label">Team Members</span>
						</div>
						<div class="col-md-3 text-center animate-box">
							<span class="colorlib-counter js-counter" data-from="0" data-to="{{super}}" data-speed="5000" data-refresh-interval="50"></span>
							<span class="colorlib-counter-label">Super Users</span>
						</div>
					</div>
				</div>
			</div>

			<section class="colorlib-skills" data-section="skills">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<span class="heading-meta"></span>
							<h2 class="colorlib-heading animate-box">Your Team strength</h2>
						</div>
					</div>
					<div class="row">

						<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
							<div class="progress-wrap">
								<h3>Photoshop</h3>
								<div class="progress">
								 	<div class="progress-bar color-1" role="progressbar" aria-valuenow="75"
								  	aria-valuemin="0" aria-valuemax="100" style="width:75%">
								    <span>75%</span>
								  	</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
							<div class="progress-wrap">
								<h3>jQuery</h3>
								<div class="progress">
								 	<div class="progress-bar color-2" role="progressbar" aria-valuenow="60"
								  	aria-valuemin="0" aria-valuemax="100" style="width:60%">
								    <span>60%</span>
								  	</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
							<div class="progress-wrap">
								<h3>HTML5</h3>
								<div class="progress">
								 	<div class="progress-bar color-3" role="progressbar" aria-valuenow="85"
								  	aria-valuemin="0" aria-valuemax="100" style="width:85%">
								    <span>85%</span>
								  	</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
							<div class="progress-wrap">
								<h3>CSS3</h3>
								<div class="progress">
								 	<div class="progress-bar color-4" role="progressbar" aria-valuenow="90"
								  	aria-valuemin="0" aria-valuemax="100" style="width:90%">
								    <span>90%</span>
								  	</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
							<div class="progress-wrap">
								<h3>WordPress</h3>
								<div class="progress">
								 	<div class="progress-bar color-5" role="progressbar" aria-valuenow="70"
								  	aria-valuemin="0" aria-valuemax="100" style="width:70%">
								    <span>70%</span>
								  	</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
							<div class="progress-wrap">
								<h3>SEO</h3>
								<div class="progress">
								 	<div class="progress-bar color-6" role="progressbar" aria-valuenow="80"
								  	aria-valuemin="0" aria-valuemax="100" style="width:80%">
								    <span>80%</span>
								  	</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
            <section class="colorlib-work" data-section="work">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<span class="heading-meta"></span>
							<h2 class="colorlib-heading animate-box">OnGoing Tasks</h2>
						</div>
					</div>
					<div class="row row-bottom-padded-sm animate-box" data-animate-effect="fadeInLeft">

                             {% for w in wor %}
                        <section class="colorlib-work" data-section="work">
					<div class="row">

						<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">

							<div class="project" style="background-image: url({{w.image.url}});">

								<div class="desc">

									<div class="con">
										<h3><a href="{% url 'userprofile' w.Worker_id %}">Team Member: {{ w.Worker }}</a></h3>

										<h5><span>Description: {{ w.Description }}</span></h5>
                                        <span>Client Name: {{ w.Client_Name }}</span>
                                        <span>Price: {{ w.price }} {{ w.completeTask.task }} $</span>
                              <span><a style="color: #7e0100;">{% if w.status %} Task Completed</a> <button> <a href="{% url 'completedTask' w.id %}">CHECK</a></button>{% endif %}</span>
                                        {% if w.Urgent == TRUE %}
                                            <span> Urgent</span>
                                        {% endif %}
                                    Progress:
                             <progress value = "{{ w.progress }}" max = "100"></progress>
                                     <a href="{{w.file.url}}" download>
                       <h2> <button type="button" class="btn btn-indigo btn-lg" style="float:right;">Download File</button></h2>
                    </a>
                                    <form action="{% url 'delete' w.id%}" method="post">
                                        {% csrf_token %}
                                        <input type="submit" value="Done">
                                    </form>
                                     <form action="{% url 'update' w.id%}" method="post">
                                        {% csrf_token %}
                                        <input type="submit" value="Update">
                                    </form>
									</div>
								</div>
							</div>
						</div>
                    </div>{% endfor %}
                        </section>









                 <div>
    {% for message in messages %}
        {{message}}
        {% endfor %}
    </div>

	<!-- jQuery -->
	<script src="{% static 'js5/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'js5/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'js5/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'js5/jquery.waypoints.min.js' %}"></script>
	<!-- Flexslider -->
	<script src="{% static 'js5/jquery.flexslider-min.js' %}"></script>
	<!-- Owl carousel -->
	<script src="{% static 'js5/owl.carousel.min.js' %}"></script>
	<!-- Counters -->
	<script src="{% static 'js5/jquery.countTo.js' %}"></script>
	
	
	<!-- MAIN JS -->
	<script src="{% static 'js5/main.js' %}"></script>

	</body>
</html>

